<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_place %><br>
    <%= f.select(:from_place_id, Place.all.collect {|p| [p.name, p.id]}, :prompt => 'Select')%>
  </div>
  <div class="field">
    <%= f.label :to_place %><br>
    <%= f.select(:to_place_id, Place.all.collect {|p| [p.name, p.id]}, :prompt => 'Select')%>
  </div>
  <div class="field">
    <%= f.label :from_date %><br>
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br>
    <%= f.date_select :to_date %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.select(:vehicle_id, Vehicle.all.collect {|v| [v.name, v.id]}, :prompt => 'Select')%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
