<%= form_for @vehicle, :html => { :class => "form-horizontal vehicle" } do |f| %>

    <% if @vehicle.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @vehicle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@vehicle[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :vehicle_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vehicle_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@vehicle[:vehicle_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :count, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :count, :class => 'form-control' %>
    </div>
    <%= error_span(@vehicle[:name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            vehicles_path, :class => 'btn btn-default' %>

<% end %>
